@import '../../../../helpers/variableBreakpoints.scss';

.featuresCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 140px;
    margin: 32px 15px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(26, 90, 255, 0.1);
    cursor: pointer;
    transition: 0.3s;



    & .CardTitle {
        margin-top: 30px;
        font-size: 16px;
        font-family: 'SofiaBold';
        color: $darkBlue
    }

}
