$completedBG: #f6f9ff;
$cancelledBG: #ffeaee;
$activeBG: #e8fefa;

$completedBadge: #1a5aff;
$cancelledBadge: #ff5470;
$activeBadge: #00ebc7;

$darkText: #061b52;
$mutedText: #909ab2;

$headerBG: #fbfcff;

.topbarContainerAppointment {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&__upper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__breadcrumbs {
			font-weight: bold;
			color: #061b52;
		}

		&__newAppointmentBtn {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			cursor: pointer;
			& div {
				color: $completedBadge;
				font-weight: bold;
				margin-left: 10px;
			}
		}
	}
	&__navbarAppointment {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__navLink {
			margin-right: 30px;
			color: #bec4d2;
			font-size: 12px;
			font-weight: 500;
			cursor: pointer;
			&__active {
				color: $completedBadge;
			}
		}
	}
}

.newAppointment {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 177px;
    background-color: $headerBG;
    margin-bottom: 30px;
    width: 100%;

    & img {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    & .headerText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $darkText;
      font-weight: bold;
      text-align: center;
    }
  }

  & .content {
    margin-bottom: 25px;
    & .twoInputs {
      display: flex;
      justify-content: space-between;
    }

    & .submitBtn {
      background-color: $completedBadge;
      font-weight: bold;
      width: 100%;
      text-align: center;
      color: white;
      height: 44px;
      border-radius: 8px;
      border: none;
      outline: none;
      transition: 0.3s ease;
      margin-top: 30px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.searchResultsWrapper {
  border-top: 1px solid #909ab2;
  display: flex;
  flex-direction: column;
  width: 100%;
  & .card {
    height: 70px;
    margin: 25px 0 7.5px;
    border-radius: 12px;
    border: solid 1px #e7eeff;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    & .image {
      margin: 0 15px 0 20px;
      width: 40px;
      height: 40px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    & .name {
      color: #061b52;
      font-weight: bold;
    }

    & .rating {
      margin-left: auto;
      margin-right: 25px;
    }
  }
}

.aboutTab {
  display: flex;
  flex-direction: column;

  & .item {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    & div {
      margin: 10px 0;
    }
    & .header {
      font-weight: bold;
      color: #061b52;
    }

    & .content {
      color: #061b52;
    }
  }
}
