$completedBG: #e8fefa;
$cancelledBG: #ffeaee;
$activeBG: #f6f9ff;
$pendingBG: #d8850638;

$completedBadge: #00ebc7;
$cancelledBadge: #ff5470;
$activeBadge: #1a5aff;
$pendingBadge: #7b700aa8;

.cardWrapper {
	overflow: hidden;
	width: 100%;
	border-radius: 8px;
	margin: 25px 0;
	padding: 0 0 25px 0;
	padding-left: 15px;
	padding-right: 15px;
	transition: 0.5s ease;

	&__accordionActive {
		padding: 0 0 50px 0;
	}
	&__accordionInactive {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		& button {
		display: none;
		}
	}

	&.active {
    	background-color: $activeBG;
    	& .badge {
      	background-color: $activeBadge;
    	}
  	}
  	&.completed {
    	background-color: $completedBG;
    	& .badge {
      		background-color: $completedBadge;
    	}
  	}
  	&.cancelled {
    	background-color: $cancelledBG;
    	& .badge {
      		background-color: $cancelledBadge;
    	}
  	}
  	&.pending {
    	background-color: $pendingBG;
    	& .badge {
      		background-color: $pendingBadge;
    	}
  	}

  	&__header {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    width: 100%;
		align-items: center;
		&__lefticon {
			height: 32px;
			justify-self: flex-start;
			padding: 15px 15px;
		}
	    &__righticon {
			height: 32px;
			padding: 15px 15px;
			justify-self: flex-end;
			cursor: pointer;
	    }
  	}
	&__content {
		margin: 15px 0;
		&__clinicInfo {
			display: flex;
			flex-direction: row;
			&__badge {
				font-size: 12px;
				position: relative;
				left: 25px;
				border-radius: 10px;
				color: white;
				height: 24px;
				width: 125px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&__appointmentInfoWrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
		align-items: flex-start;
		&__dentist {
			color: $activeBadge;
		}
		&__details {
  			color: #909ab2;
			&__accordionActive {
				display: flex;
				flex-direction: column;
				width: 450px;

				& button {
					margin: 25px 0 0 0;
					height: 36px;
					font-weight: bolder;
					border-radius: 4px;

					&:hover {
						cursor: pointer;
					}
				}

			}
			&__accordionInactive {
				width: 450px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				-ms-text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				& button {
					display: none;
				}
			}
		}

		&__appointmentInfo {
			display: flex;
			float: left;
			flex-direction: row;
			width: 60%;
			justify-content: space-between;
			margin-top: 15px;
			& div:not(:first-child)::before {
				color: #909ab2;
				content: " •  ";
			}

			&__price {
				color: $cancelledBadge;
			}
		}
	}
	&__positiveBtn {
		color: white;
		background-color: $activeBadge;
		border: 3px solid $activeBadge;
		width:100%!important;
		margin: 25px 0 0 0;
		height: 36px;
		font-weight: bolder;
		border-radius: 4px;

		&:hover {
			cursor: pointer;
		}
	}
	&__negativeBtn {
		color: $cancelledBadge;
		background-color: transparent;
		border: 3px solid $cancelledBadge;
		width:100%!important;
		margin: 25px 0 0 0;
		height: 36px;
		font-weight: bolder;
		border-radius: 4px;

		&:hover {
			cursor: pointer;
		}
	}
}
