$completedBG: #f6f9ff;
$cancelledBG: #ffeaee;
$activeBG: #e8fefa;

$completedBadge: #1a5aff;
$cancelledBadge: #ff5470;
$activeBadge: #00ebc7;

$darkText: #061b52;
$mutedText: #909ab2;

$headerBG: #fbfcff;

.profile {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__tabs {
    margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 1px;
		border-bottom: solid 1px #f6f9ff;
		width: 100%;
		&__tab {
			padding: 20px;
			font-family: "SofiaRegular";
			font-size: 14px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: 0.1px;
			color: #909ab2;
			text-align: center;
			cursor: pointer;
			width: 50%;
		}
		&__selected {
			padding: 20px 20px 19px;
			color: #1a5aff;
			border-radius: 1px;
			border-bottom: solid 1px #1a5aff;
		}
    }
}
