@import '../../helpers/responsiveBreakpointsMixins';
@import '../../helpers/variableBreakpoints';

.topBarContainer {
    display: flex;
    height: 100px;
    &__logoContainer {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__logo {
            cursor: pointer;
            height: 50px;
            width: 160px;
        }
    }
    &__links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-family: 'SofiaMedium';
        align-items: center;
    }
	&__buttonContainer {
		display: flex;
		justify-content: center;
		&__menu{
			margin-right: 30px;
		}
	}
}
