.container {
  display: flex;
  flex-direction: column;

  & .searchSection {
    width: 100%;
    height: 50px;
    border: 1px solid #e7eeff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      width: 80%;
      height: 40px;
      border: none;
      outline: none;
    }
  }
}
