.noQuestionContainer {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	&__title {
		font-size: 20px;
		font-weight: bolder;
	}

	button {
		width: 80%;
		height: 50px;
		border-radius: 10px;
		border: 2px solid #1a5aff;
		background-color: transparent;
		color: #1a5aff;
		font-size: 18px;
		font-weight: bolder;
		outline: transparent;
		transition: 0.3s ease;
		cursor: pointer;
		&:hover {
			background-color: #1a5aff;
			color: white;
		}
	}
}
.messagesContainer{
	overflow: hidden;
    display: flex;
    flex-direction: column;

	&__searchSection {
		align-self: center;
		width: 100%;
		height: 44px;
		border: 1px solid #e7eeff;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 16px;

		& input {
			width: 100%;
			height: 40px;
			border: none;
			outline: none;
			font-family: "SofiaRegular";
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.57;
			letter-spacing: normal;
			text-align: left;
			color: #919bb2;
			&::placeholder {
				color: #e7eeff;
				text-align: center;
			}
		}
	}
	&__newMessageBtn {
		margin: 25px 0;
		display: flex;
		flex-direction: row;
		width: 150px;
		margin-left: auto;
		cursor: pointer;
		& div {
			color: #1a5aff;
			font-weight: bold;
			margin-left: 10px;
		}
    }
	&__messagesSection{
		&__header{
			color: #061b52;
	        font-weight: bold;
	        font-size: 20px;
		}
	}
}

.newQuestionContainer{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&__headerSection {
		text-align: center;
		&__icon {
			img{
				width: 60px;
				height: auto;
			}
		}
		& div {
			margin: 25px 0;
		}
		&__header {
			color: #061b52;
			font-weight: bold;
			font-size: 20px;
		}

		&__content {
			font-weight: normal;
			color: #061b52;
		}
	}
	&__mainSection {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;

	    &__inputWrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 25px 0;
			input,
			textarea {
				margin: auto;
				width: 100%;
				border: 1px #e7eeff solid;
				border-radius: 10px;
				height: 50px;
				resize: none;
				outline: none;
				color: #061b52;
				line-height: 20px;
				font-weight: bold;
			}
			textarea {
				height: 100px;
			}
	    }


      &__sendMessageButton {
        margin: 25px 0;
        width: 100%!important;
        height: 50px;
        border: none;
        outline: none;
        background-color: #1a5aff;
        color: white;
        font-weight: bold;
        border-radius: 10px;
      }
    }
}
.dropDrag{
	width:100%;
	button{
		width:100%!important;
	}

}


.messageDetailsContainer {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__header {
		margin: 25px 0;
		display: flex;
		flex-direction: row;
		width: 100%;

		&__avatar {
			width: 60px;
			margin-right: 35px;
			&__online {
				position: relative;
				bottom: 30%;
				left: 70%;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: #00ebc7;
				border: 3px solid #ffffff;
			}
			&__offline {
				position: relative;
				bottom: 30%;
				left: 70%;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: #474e5d;
				border: 3px solid #ffffff;
			}
			& img {
				width: 60px;
				border-radius: 100%;
			}
		}

		&__senderInfo {
			flex: 1;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&__name {
				width: 118px;
				height: 16px;
				font-family: SofiaPro;
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 0.75;
				letter-spacing: normal;
				text-align: left;
				color: #061b52;
			}
		}

		&__rightButtons {
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			&__backButton {
				display: flex;
				flex-direction: row;

				&:hover {
					cursor: pointer;
				}
				& img {
					width: 24px;
					height: 24px;
					margin-right: 25px;
				}
			}
			&__detailsButton {
				img{
					margin-left: 25px;
					width: 24px;
					height: 24px;
				}

			}
		}
	}

	&__messagesContainer {
		overflow-y: visible;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 400px;
		align-items: center;
	}

	&__sendMessageContainer {
		margin-top: 16px;
		padding: 8px 0;
		position: relative;
		bottom: 100%;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;

		&__inputContainer {
			width: 80%;
			height: 50px;
			border-radius: 15px;
			background-color: #f6f9ff;
			display: flex;
			justify-content: center;
			align-items: center;
			& input {
				width: 95%;
				height: 90%;
				background-color: transparent;
				border: none;
				outline: none;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__icon {
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 15px;
			:hover {
				cursor: pointer;
			}

			& img {
				width: 20px;
				height: 20px;
			}
		}
	}
}
