.login{
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.loginInner{
	position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 16px;
    box-shadow: 0 0 18px 0 rgba(26, 90, 255, 0.1);
    width: 100%;


}
