.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;

  & .logo {
    cursor: pointer;
    margin: 8px 0 0;
  }

  & .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    & .filterIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      cursor: pointer;
      margin: 8px 0 0 20px;

      & img {
        width: 14px;
      }
    }
  }

  & .label {
    margin: 8px 0 0;
    width: 167px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fffce0;
    font-family: "SofiaRegular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: 1.57;
    letter-spacing: normal;
    color: #f7ab00;
    & span {
      font-family: "SofiaBold";
    }
  }

  & .notification {
    height: 20px;
    cursor: pointer;
    margin: 8px 0 0;
  }

  & .user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SofiaRegular";
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #061b52;
    margin: 8px 0 0;
    cursor: pointer;

    & .avatarContainer {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      border-radius: 50%;
      background-color: #2c3f58;

      & img {
        width: 100%;
      }
    }
  }
}

.dropdownMenuContainer {
  z-index: 1000;
  position: relative;
  top: -20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;

  &.notifications {
    left: calc(100% - 500px);
    & .dropdownMenu {
      width: 400px;
    }
  }

  &.menu {
    left: calc(100% - 200px);
  }

  .dropdownMenu {
    width: 200px;
    padding: 20px 0;
    display: inline-block;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

    & .links {
      width: calc(100% - 20px);

      & .link {
        z-index: 10012;
        width: 100%;
        padding: 5px 5px;
        margin: 5px 0;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:hover {
          background-color: rgba(0, 0, 0, 0.07);
          cursor: pointer;
        }
        & .icon {
          width: 24px;
        }

        &.notification {
          flex-direction: column;

          &.notificationNotRead {
            background-color: #e8fefa;
          }
          & .title {
            color: #061b52;
            font-weight: bold;
          }

          & .text {
            font-weight: lighter;
            font-size: 14px;
          }
        }
      }
    }
  }
}
