.main_container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.chartContainer {
  max-width: 50%;
}

.chart {
  padding: 1rem;
}

.wrapper_style {
  top: 0;
  left: 350;
  line-height: '24px';
}
