@import '../../helpers/responsiveBreakpointsMixins';
@import '../../helpers/variableBreakpoints';

.tabContent {
  display: flex;
}
.ProfileContainer {
  width: 100%;
  transition: all 0.3s;
  position: relative;

  & .profileCard {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #360d57;
    background-image: url('../../assets/images/profile-cover-photo.png');
    background-size: cover;
    border-radius: 12px;
    & .profileAvatar {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -54px;
      left: 20px;
      width: 100px;
      height: 100px;
      & .profilImageWrapper {
        width: 100%;
        position: relative;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        & .profileImage {
          width: 150%;
        }
      }
    }
    & .createAppointment {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      width: 178px;
      height: 36px;
      top: 142px;
      right: 10px;
      border-radius: 12px;
      box-shadow: 0 2px 3px 0 rgba(6, 27, 82, 0.35);
      background-color: #1a5aff;
      &:hover {
        cursor: pointer;
      }
      & button {
        color: white;
        font-weight: bold;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  & .profileName {
    margin: 30px 130px 10px;
    font-family: 'SofiaBold';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #061b52;
  }
  & .location {
    margin: 10px 130px 30px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #909ab2;
  }

  & .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border-bottom: solid 1px #f6f9ff;
    width: 100%;
    & .tab {
      padding: 20px;
      font-family: 'SofiaRegular';
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.1px;
      color: #909ab2;
      text-align: center;
      cursor: pointer;
      width: 50%;

      &.selected {
        padding: 20px 20px 19px;
        color: #1a5aff;
        max-width: 300px;
        border-radius: 1px;
        border-bottom: solid 1px #1a5aff;
      }
    }
  }
}

.tabWrapper {
  display: flex;
  flex-direction: column;
  & .card {
    height: 70px;
    margin: 25px 0 7.5px;
    border-radius: 12px;
    border: solid 1px #e7eeff;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .image {
      margin: 0 15px 0 20px;
      width: 40px;
      height: 40px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    & .name {
      color: #061b52;
      font-weight: bold;
    }

    & .rating {
      margin-left: auto;
      margin-right: 25px;
    }
  }
}

.aboutTab {
  display: flex;
  flex-direction: column;

  & .item {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    & div {
      margin: 10px 0;
    }
    & .header {
      font-weight: bold;
      color: #061b52;
    }

    & .content {
      color: #061b52;
    }
  }
}

.profile {
  width: 100%;
  display: flex;

  &__profileCard {
    margin-top: 250px;
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #360d57;
    background-image: url('../../assets/images/profile-cover-photo.png');
    border-radius: 12px;
    &__profileImage {
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      border-radius: 50%;
      overflow: hidden;
    }
    &__editIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
      border-radius: 12px;
      box-shadow: 0 2px 3px 0 rgba(6, 27, 82, 0.35);
      background-color: rgba(#ffffff, 0.7);
      &:hover {
        background-color: rgba(#ffffff, 1);
      }
      & img {
        width: 8.1px;
        height: 8.2px;
      }
    }
    &__editIcon__2 {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 65px;
      left: -2px;
      z-index: 99;
      border-radius: 12px;
      box-shadow: 0 2px 3px 0 rgba(6, 27, 82, 0.35);
      background-color: rgba(#ffffff, 0.7);
      &:hover {
        background-color: rgba(#ffffff, 1);
      }
      & img {
        width: 8.1px;
        height: 8.2px;
      }
    }
  }
  &__profileName {
    margin: 10px 130px 40px;
    font-family: 'SofiaBold';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #061b52;
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
    border-bottom: solid 1px #f6f9ff;
    width: 100%;
    &__tab {
      padding: 20px;
      font-family: 'SofiaRegular';
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.1px;
      color: #909ab2;
      text-align: center;
      cursor: pointer;
      width: 50%;
    }
    &__selected {
      padding: 20px 20px 19px;
      color: #1a5aff;
      border-radius: 1px;
      border-bottom: solid 1px #1a5aff;
    }
  }
}

.profileInfoPart {
  margin-top: 50px;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
}

.overviewWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__card {
    align-items: center;
    height: 50px;
    border-radius: 12px;
    margin: 20px 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: 1px solid #e7eeff;
    padding-left: 15px;
    padding-right: 15px;
    &__content {
      margin-left: 25px;
      color: #061b52;
      font-size: 12px;
      font-weight: 300;
    }
  }
}
.settingsWrapper {
  display: flex;
  flex-direction: column;
  &__tab {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f6f9ff;
    align-items: center;
    & :last-child {
      justify-content: flex-end;
    }
    &:hover {
      cursor: pointer;
    }
    &__iconWrapper {
      border-radius: 100%;
      background-color: #909ab2;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }
    &__text {
      color: #061b52;
      font-weight: bold;
    }
    &__rightIcon {
      transform: rotate(180deg);
      margin-left: auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f6f9ff;
    align-items: center;
    & :last-child {
      justify-content: flex-end;
    }

    &__iconWrapper {
      border-radius: 100%;
      background-color: #909ab2;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }

    &__text {
      color: #061b52;
      font-weight: bold;
      padding-right: 2rem;
    }

    &__rightIcon {
      margin-left: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__inputs {
    padding: 10px 0;
    border-bottom: 1px solid #f6f9ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    & .switch {
      margin-left: auto;
    }
  }

  &__submitButton {
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background-color: #1a5aff;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-top: 15px;

    &:hover {
      cursor: pointer;
    }
  }
  &__inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    &__input {
      margin-bottom: 20px;
      width: 100%;
      label {
        font-family: 'SofiaBold';
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #2c3f58;
        padding: 0 1px;

        @include small {
          font-size: calc(2px + 10px);
        }
      }
      input {
        width: calc(100%);
        display: flex;
        outline: none;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin: 8px 0 0;
        background-color: #ffffff;
        border-radius: 8px;
        border: solid 1px #e7eeff;

        @include small {
          padding: 8px 12px;
        }

        &:focus-within {
          border: 1px solid #2c3f58;
        }
      }
    }
  }
  &__item {
    padding: 10px 0;
    border-bottom: 1px solid #f6f9ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    &__switch {
      margin-left: auto;
    }
  }
}
