.Profile {
  width: 100%;
  margin-left: 50px;

  & .patientProfileCard {
    position: relative;
    width: 100%;
    & .profileImage {
      position: absolute;
      bottom: -54px;
      left: 20px;
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  & .profileName {
    margin: 30px 130px 10px;
    font-family: 'SofiaBold';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #061b52;
  }
  & .location {
    margin: 10px 130px 30px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #909ab2;
  }

  & .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border-bottom: solid 1px #f6f9ff;
    width: 100%;
    & .tab {
      padding: 20px;
      font-family: 'SofiaRegular';
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.1px;
      color: #909ab2;
      text-align: center;
      cursor: pointer;
      width: 50%;

      &.selected {
        padding: 20px 20px 19px;
        color: #1a5aff;
        border-radius: 1px;
        border-bottom: solid 1px #1a5aff;
      }
    }
  }

  & .paymentTreatmentTableWrapper {
    margin-right: 2rem;
    & .tableHeader {
      margin: 3rem 0rem 1rem 0rem;
    }
  }

  & .paymentPaidTreatmentTableWrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 3rem;
    & .tableHeader {
      margin: 3rem 0rem 1rem 0rem;
    }

    & .addPayment {
      background: #7bfc7b;
      border-radius: 12px;
      padding: 5px;
      height: 2rem;
      position: absolute;
      right: 20vw;
      margin-top: 3rem;
      & img {
        width: 25px;
      }
    }
  }

  & .patientNotesWrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 3rem;
    & .tableHeader {
      margin: 3rem 0rem 1rem 0rem;
    }

    & .addNotes {
      background: #7bfc7b;
      border-radius: 12px;
      padding: 5px;
      height: 2rem;
      position: absolute;
      right: 24px;
      margin-top: 3rem;
      & img {
        width: 25px;
      }
    }
  }
}

.tabWrapper {
  display: flex;
  flex-direction: column;
  & .card {
    height: 70px;
    margin: 25px 0 7.5px;
    border-radius: 12px;
    border: solid 1px #e7eeff;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .image {
      margin: 0 15px 0 20px;
      width: 40px;
      height: 40px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    & .name {
      color: #061b52;
      font-weight: bold;
    }

    & .rating {
      margin-left: auto;
      margin-right: 25px;
    }
  }
}

.aboutTab {
  display: flex;
  flex-direction: column;

  & .item {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    & div {
      margin: 10px 0;
    }
    & .header {
      font-weight: bold;
      color: #061b52;
    }

    & .content {
      color: #061b52;
    }
  }
}

.createAppointment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 36px;
  top: 170px;
  right: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 3px 0 rgba(6, 27, 82, 0.35);
  background-color: #1a5aff;
  &:hover {
    cursor: pointer;
  }
  & button {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.plansDropdown {
  background-color: #218838;
  border-radius: 12px;
}

.teeth {
  margin-top: 3rem;
  display: grid;
  & .teethrow {
    margin: 0 auto;

    & .teethClass {
      border-color: white;
      border-style: solid;
      padding: 2px;
      background: transparent;
      &:hover {
        border-radius: 10px;
        border-color: #edd690;
      }
      &:active {
        background-color: #edd690;
        box-shadow: 0 4px #ecd68b;
        transform: translateY(4px);
      }
      &:focus {
        outline: #ecd68b;
        border-radius: 10px;
        border-color: #ecd68b;
      }
    }
  }
}

.addTreatmentButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.underTableIcon1 {
  img {
    border-radius: 5px;
    padding: 4px;
    max-width: 3rem;
    margin-right: 1rem;
  }
}
.underTableIcon2 {
  img {
    border-radius: 5px;
    padding: 4px;
    max-width: 3rem;
    margin-right: 1rem;
  }
}

.patientInfoPart {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
}

.myTableClass {
  & .active {
    & .page-link {
      background-color: #218838 !important;
      border-color: #218838 !important;
    }
  }
}
