.loadingContainer {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .loading {
    width: 50px;
    background: white;
    height: 50px;
    z-index: 999999;
  }
  & .loadingLogo {
    width: 150px;
    height: 150px;
  }
}

.noBackground {
  background: transparent;
}
.fullscreen {
  left: 0;
  top: 0;
}
.innerScreen {
  position: relative !important;
  height: calc(100vh - 283px);
  width: 100% !important;
}
