.list-mobile {
  display: none;
}
.list {
  & a {
    text-decoration: none;
    &:hover {
      color: #1a5aff;
      &__listItem__menuIcon {
        width: 20px;
        fill: #1a5aff;
        color: #1a5aff;
      }
    }
  }
  &__listItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 40px;
    color: #061b52;
    &__text {
      margin-left: 20px;
    }

    &__menuIcon {
      width: 20px;
    }
  }
  &__listItemClicked {
    color: #1a5aff;
  }
}
.list2 {
  & a {
    text-decoration: none;
    &:hover {
      color: #1a5aff;
    }
  }
  &__listItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 40px;
    color: #061b52;
    &__text {
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .list {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 567px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
