.messageContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 16px 0;

	&__isMine {
		justify-content: flex-end;
	}
	& .time {
		color: #909ab2;
	}

	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		margin-right: 15px;
		& img {
			width: 40px;
			height: 40px;
			border-radius: 100%;
		}
	}

	&__messageBody {
		width: 60%;
		border-radius: 15px;

		&__isMine {
			background-color: #1a5aff;
			justify-self: end;
			color: white;
			&__time {
				position: relative;
				left: calc(100% - 40px);
				top: 20px;
			}
		}

		&__notMine {
			background-color: #f6f9ff;
			justify-self: flex-start;
			color: #061b52;
			&__time {
				position: relative;
				top: 20px;
			}
		}

		&__message {
			padding: 5px 0;
			width: 90%;
			margin: auto auto;
		}
	}
}
