@import '../../helpers/responsiveBreakpointsMixins';
@import '../../helpers/variableBreakpoints';

.cContainer {
	display: flex;
	flex-direction: column;
	&__backButton {
		display: flex;
		flex-direction: row;
		width: 150px;
		margin-left: auto;
		margin: 25px unset;
		&:hover {
			cursor: pointer;
		}
	}
	&__inputContainer{
		margin-bottom: 20px;
        &__input {
        	width: 100%;
			label{
				font-family: "SofiaBold";
			    font-size: 18px;
			    font-weight: bold;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.22;
			    letter-spacing: normal;
			    text-align: left;
			    color: #2c3f58;
			    padding: 0 1px;

			    @include small {
			      font-size: calc(2px + 10px);

			    }
			}
			input{
				width: calc(100%);
				display: flex;
			    outline: none;
			    justify-content: center;
			    align-items: center;
			    padding: 12px 16px;
			    margin: 8px 0 0;
			    background-color: #ffffff;
			    border-radius: 8px;
			    border: solid 1px #e7eeff;

			    @include small {
			      padding: 8px 12px;
			    }

			    &:focus-within {
			      border: 1px solid #2c3f58;
			    }
			}
        }
	}
	& button {
		margin: 25px 0;
		width: 570px;
		height: 50px;
		background-color: #1a5aff;
		border-radius: 12px;
		font-weight: bold;
		color: white;
		border: none;
		outline: none;
		&:hover {
			cursor: pointer;
		}
	}
}
