@import './helpers/variableBreakpoints.scss';
.AppWrapper {
  display: flex;

  overflow: hidden;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: #f6f9fc;

  & .topBarWrapper {
    height: 85px;

    width: 100%;
  }

  & .zeusContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  & .middlePart {
    min-height: 65vh;
    height: calc(100vh - 84px);
    overflow-y: scroll;
    flex: 5;
  }

  & .middlePartContainer {
    background: white;
    margin: 48px;
    padding: 48px;
    border-radius: 8px;
  }

  & .leftPart {
    display: flex;
    overflow: hidden;
    flex: 1;
    min-width: 240px;
    height: 100vh !important;
    // margin-top: 5rem;
  }

  & .rightPart {
    margin-top: 10rem;
    overflow-y: scroll;
  }
}

// ! calendar style

@import '~bootstrap/scss/bootstrap';
