.message_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
  padding: 5px 0;
  height: fit-content;

  .avatar {
    width: 60px;
    height: 60px;
    img {
      border-radius: 100%;
      width: 60px;
      height: 60px;
    }
  }

  .content {
    width: 70%;

    .name {
      color: #293b6a;
      font-weight: 700;
      font-size: 16px;
    }
    .message {
      color: #b0b7c8;
      font-weight: light;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      font-size: 12px;
    }
  }

  .time {
    color: #b0b7c8;
    align-self: flex-start;
  }
}
